@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --main-color : white; 
    --secondary-color : #231955;
    --third-color : #E8AA42; 
    --text-primary : #11275e; 
    --text-secondary : #383839;
    --popUp-table: rgb(243, 240, 236);
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    color: var(--text-primary);
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}


#my_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 4rem;
    background-color: var(--text-secondary);
    height: 75px; }

#my_nav_logo {
    display: flex;
    align-items: center;
}
#my_nav_logo img.logo_img {
    width: 100px;
    height: 100px;
    margin-right: .7rem;
}
#my_nav_logo h2.logo_title {
    font-size: 1.6rem;
    font-family: 'Nunito';
    font-weight: 800;
    color: var(--main-color);
}
#my_nav_menu {
    display: flex;
    justify-content: center;
}
#my_nav_menu li a{
    margin: 0 .9rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding-bottom: .3rem;
    transition: .5s;
    color: var(--main-color);
    scroll-behavior: smooth;
}
#my_nav_menu li a:hover{
    color: var(--main-color);
    font-weight: 600;
}
#my_nav_menu li a.active{
    color: var(--main-color);
    font-weight: 600;
}
#my_nav_menu li a.active::before{
    content: '';
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 50%;
    height: 3px;
    background-color: var(--main-color);
    transform: translate(-50%, 0);
    border-radius: 1px;
}
#my_navbar #my_nav_toggle {
    display: none;
}



#home {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 3rem 4rem;
    padding-top: 10rem;
}
#home_content h4.text_secondary {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    position: relative;
    padding-left: .7rem;
    margin-bottom: .4rem;
}
#home_content h4.text_secondary::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: var(--secondary-color);
}
#home_content h1.text_primary {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 2.5rem;
    color: var(--third-color);
}
#home_content p.text-desc {
    margin-top: .8rem;
    font-size: .9rem;
    color: var(--text-secondary);
}
#home_content button#btn_content {
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--text-primary);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}
#home_content button#btn_content:hover {
    background-color: #0a3496;
}
#home_hero img {
    width: 700px;
}
#to_do {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    padding: 1rem 1.3rem 1rem;
    border-radius: 5px;
    transition: .5s;
    min-width: 30%;
    border: 0.5px solid #2e2849;
}
#to_do.active {
    top: 50%;
}
#to_do_form {
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#to_do_form input{
    padding: .3rem .5rem;
    margin-right: .5rem;
    outline: none;
    border: 1px solid var(--text-secondary);
    border-radius: 3px;
    width: 100%;
}
#to_do_form button {
    padding: .4rem 1rem;
    background: var(--secondary-color);
    outline: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    border-radius: 5px; 
}
li.to_do_item {
    border: 1px solid var(--text-secondary);
    border-radius: 3px;
    padding: .5rem .5rem;
    margin: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.to_do_item label {
    display: flex;
}
li.to_do_item label input {
    margin-right: .3rem;
}
li.to_do_item label p.checked {
    text-decoration: line-through;
}
li.to_do_item button {
    outline: none;
    border: none;
    font-size: 1rem;
    margin-right: .4rem;
    background-color: transparent;
    cursor: pointer;
}

button#to_do_btn_close {
    width: 100%;
    margin-top: .7rem;
    padding: .6rem 1rem;
    background: var(--secondary-color);
    outline: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
}


#pop_up_bg {
    position: fixed;
    z-index: 998;
    backdrop-filter: blur(10px);
    width: 0;
    height: 0;
}
#pop_up_bg.active {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#pop_up {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    padding: 2rem 2.5rem 1rem;
    border-radius: 5px;
    transition: .5s;
    border: 0.5px solid #2e2849;
}
#pop_up.active {
    top: 50%;
}
#pop_up table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}
#pop_up table thead tr th {
    padding: .5rem 1rem;
}
#pop_up table tbody tr td {
    padding: .5rem;
}
#pop_up table tbody tr td:nth-child(1) {
    text-align: center;
}
#pop_up button#btn_pop_up_close {
    margin-top: 1rem;
    padding: .6rem 1rem;
    background: var(--secondary-color);
    outline: none;
    border: none;
    color: var(--third-color); 
    cursor: pointer;
    border-radius: 5px;
    float: right;
}



#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: var(--text-primary);
}
#slider h1 {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: 800;
    padding-bottom: 50px;
    color: var(--main-color);
}
.wrap {
  position: relative;
}
.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-content a:link, a:visited {
    display: inline;
    background-color: lightseagreen;
    color: var(--main-color);
    padding: 14px 40px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
    border-radius: 5px;

  }
 .slide-content a:hover, a:active {
    background-color: var(--third-color);
  }
.slide-content img {
    display:inline;
    width: 70%;
    height:auto;
    border-radius: 20px;
}
.slide-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 0.1rem 0.1rem rgba(2, 2, 4, 2); 
}
.slide-content span {
  font-size: 5rem;
  color: var(--main-color);
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}
#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent var(--third-color) transparent transparent;
  left: 0;
  margin-left: 30px;
}
#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent var(--third-color);
  right: 0;
  margin-right: 30px;
}

#about {
    display:contents;
    align-items: center;
}
#about_content {
    background: var(--text-secondary);
}
#about_content h4.about_title {
    padding-top: 30px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--main-color);
}
#about_content .about_text {
    text-align: center;
    font-weight: 400;
    color: var(--main-color);

}
#about_content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: auto;
  margin-block: 2rem;
  gap: 2rem;
  padding-bottom: 4%;
}
#about_content .card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
#about_content .card_header {
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#about_content .card_image{
    height: 100px;
}
#about_content .card_body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
#about_content .card_body h4 {
    font-size: large;
    font-weight: 800;
    text-transform: capitalize;
}

#blog h2{
  text-align: center;
  color: var(--secondary-color);
  font-family: 'Poppins';
}

#blog .container {
  display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: auto;
margin-block: 2rem;
gap: 2rem;
padding-bottom: 4%;
}
#blog .card {
  display: flex;
flex-direction: column;
width: clamp(20rem, calc(20rem + 2vw), 22rem);
overflow: hidden;
box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.8);
border-radius: 1em;
background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
#blog .card_body{
  padding: 2rem;
display: flex;
flex-direction: column;
gap: .5rem;
}



#contactUs {
  background-color: var(--secondary-color);
  margin:0 auto 0 auto;
  position: relative;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
}

.form {
    width: 100%;
    max-width: 1000px;
    background-color: #FAF7F0;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(243, 240, 240, 0.364);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form .info{
    margin-top: 20px;
  }

  .contact-form {
    background-color: #231955;
    position: relative;
  }

  form {
    padding: 2rem 2rem;
    z-index: 10;
  }

  .title-form {
    color: var(--main-color);
  }
  .btn-form {
    margin-top: 1rem;
    padding: .6rem 1rem;
    background: var(--main-color);
    outline: none;
    border: none;
    color: var(--text-primary); 
    cursor: pointer;
    border-radius: 5px;
    float: right;
  }
  .title-contactUs {
    color: var(--text-primary);
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .input-container {
    margin: 1rem;
  }
  
  .input {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background: none;
    padding: 1rem 1rem;
    color: var(--main-color);
  }
  
  .input-container textarea.input {
    min-height: 100px;
  }

  ::placeholder {
    color: var(--main-color);
    font-size: medium;
  }
  
  .contact-info {
    padding: 2rem 2rem;
    position: relative;
  }
  
  
  .information {
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 30px;
    margin-right: 1rem;
  }
  
  #social-media {
    padding: 2rem;
  }

  #social-media .title {
    padding-left: 7rem;
  }

  #social-media p {
    color: var(--secondary-color);
  }
  
  .social-icons {
    margin-left: 7rem;
    display: flex;
    margin-top: 1rem;
  }
  
  .social-icons a {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(45deg, #E8AA42, #805b1b);
    line-height: 30px;
    margin-right: 0.5rem;
    text-align: center;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  




@media screen and (max-width: 576px) {
    /* navbar */
    #my_navbar {
        padding: .5rem 1.3rem;
    }
    #my_nav_logo img.logo_img {
        width: 40px;
        height: 40px;
        margin-right: .3rem;
    }
    #my_nav_logo h2.logo_title {
        font-size: 1.6rem;
        font-family: 'Nunito';
        font-weight: 800;
    }
    #my_nav_menu {
        display: block;
        position: fixed;
        z-index: 99;
        background-color: var(--text-primary);
        left: -100%;
        top: 0;
        margin: 0;
        width: 80%;
        height: 100vh;
        transition: .5s;
        padding-top: 5rem;
    }
    #my_nav_menu.active {
        left: 0;
    }
    #my_nav_menu li {
        margin-bottom: 1rem;
        padding-left: 2.5rem;
    }
    #my_nav_menu li a{
        color: var(--main-color);
    }
    #my_navbar #my_nav_toggle {
        display: block;
        font-size: 1.3rem;
    }

    
    #home {
        display: flex;
        flex-direction: column;
        padding: 3rem 1.3rem;
    }
    #home_content {
        margin-bottom: 2rem;
    }
    #home_content h4.text_secondary {
        font-size: 1.2rem;
    }
    #home_content h1.text_primary {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    #home_content p.text-desc {
        font-size: .8rem;
    }
    #home_content button#btn_content {
        padding: .6rem 2rem;
        font-size: .8rem;
    }
    #home_hero img {
        width: 400px;
    }


    #pop_up {
        padding: 2rem 1.3rem 1rem;
    }
    #pop_up table thead tr th {
        padding: .2rem .7rem;
    }
    #pop_up table tbody tr td {
        padding: .2rem;
    }
    #arrow-left {
      border-width: 15px 20px 15px 0;
      border-color: transparent var(--third-color) transparent transparent;
      left: 0;
      margin-left: 30px;
    }
    #arrow-right {
      border-width: 15px 0 15px 20px;
      border-color: transparent transparent transparent var(--third-color);
      right: 0;
      margin-right: 30px;
    }
    .form {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    display: none;
  }
  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }


  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
    margin: 1rem 0 1.5rem 0;

  }

  .title {
    font-size: 1.15rem;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
  
  .social-icons a {
    width: 3 0px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 20px;
  }

  .input {
    padding: 0.5rem 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
  }

}



